/* declaring variables */

:root{
    --p-col:#6cbee1;
    --s-col:#FC16A3;
    --t-col:#345B9B;
}


body{
    padding: 0;
    margin: 0;
    background-color: rgb(221, 226, 250);
}

*{
    box-sizing: border-box;
}
nav{
    background-color: whie;
    display: flex;
    height: 30px;
}

.menu li {
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #345B9B;
    margin-left: 950px;
    
}

/* end of nav  */

/* start of hero  */

.hero{
    display: flex;
    margin: 5%;
    
}

.article p{
    color: var(--t-col);
    font-size: 1.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.article h1{
    color: var(--t-col);
    font-size: 4.6rem;
    font-family:cursive;
}
.figure img{
    width: 70%;
    margin-left: 30%;
}

.btn button{
    width: 43%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family:cursive;
    background-color: var(--t-col);
    border-radius: 7px;
    border-color: white;
    border-style:groove;
    box-shadow: 1px 1px 5px;
    
}
.btn button a{
    text-decoration: none;
    color: white;
}

/* end of hero section  */

/* start of Section  */

.section{
    margin: 5%;
    display: flex;
    
    
}
.btns button{
    width: 80%;
    animation-name: btns;
    animation-duration: 1s;

}
@keyframes btns{
   0%{margin-left: -200%;}
   
}

span{
    color: var(--s-col);
    font-size: 1.1rem;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.figure2 img{
    width: 90%;
    margin-left: 5%;
}

.secbtn1 button{
    background-color: rgb(111, 144, 254);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    font-size: 1.5rem;
    text-align:left;
}

.secbtn2 button{
    background-color: rgb(111, 144, 254);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    font-size: 1.5rem;
    text-align:left;
}

.secbtn3 button{
    background-color: rgb(111, 144, 254);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    font-size: 1.5rem;
    text-align:left;
}

/* end of section  */

/* start of con section  */

.container{
    
    background: linear-gradient(180deg,var(--t-col), #ec2424);
}
.con-heading{
    text-align: center;
    padding: 5px;
    font-size: 1.5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.article-list{
    margin: 5%;
    display: flex;
}
.article-list h2{
    color: #3b67af;
    text-align: justify;
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.article-list p{
    padding-right: 10px;
    text-align: justify;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}
.article1{
    width: 55%;
    border: solid white;
    margin-right: 1%;
    border-radius:10px;
    text-align: center;
    background-color: white;
    padding-left: 70px;
    padding-bottom: px;

}
.article1 button{
    width: 70%;
    padding: 10px;
    margin-right: 30%;
    background-color: #3982EB;
    border-radius: 5px;
    border-style: none;
}

button a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.article2{
    width: 55%;
    border: solid white;
    margin-right: 1%;
    border-radius:10px;
    text-align: center;
    background-color: white;
    padding-left: 70px;
    padding-bottom: 5px;

}
.article2 button{
    width: 60%;
    padding: 10px;
    margin-right: 20%;
    background-color: #3982EB;
    border-radius: 5px;
    border-style: none;
    
}

button a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.article3{
    width: 55%;
    border: solid white;
    border-radius:10px;
    text-align: center;
    background-color: white;
    padding-left: 70px;
    padding-bottom: 5px;

}
.article3 button{
    width: 70%;
    padding: 10px;
    margin-right: 20%;
    background-color: #3982EB;
    border-radius: 5px;
    border-style: none;
}

button a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

/* end of first article  */

/* start of second article  */

.article2-list{
    display: flex;
    margin: 5%;
}

.article2-list img{
    width: 110%;
   
    
}

.cont1{
    width: 160%;
    border: solid white;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    margin: 1%;
}

.cont1 :hover{
    margin-right:  20px;
    background: white;
    color: black;
    cursor: pointer;
    transition: 500ms;
    overflow: hidden;
}
.img-heading1{
    border: solid wheat;
    background-color: rgb(253, 250, 243);
    border-radius: 10px;
    border-style: none;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    
}

.img-heading1 h2{
    text-align: center;
    color: #3b67af;
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.img-heading1 p{
    padding-right:30px;
    text-align: center;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}

.img-heading1 button{
    width: 55%;
    padding: 15px;
    margin-left: 20%;
    color: white;
    background-color: #3982EB;
    border-radius: 5px;
    border-style: none;
}

.cont2{
    width: 160%;
    border: solid white;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    margin: 1%;
}

.cont2 :hover{
    margin-right:  20px;
    background: white;
    color: black;
    cursor: pointer;
    transition: 500ms;
    overflow: hidden;
}
.img-heading2{
    border: solid wheat;
    background-color: rgb(253, 250, 243);
    border-radius: 10px;
    border-style: none;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.img-heading2 h2{
    text-align: center;
    color: #3b67af;
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.img-heading2 p{
    padding-right:30px;
    text-align: center;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}

.img-heading2 button{
    width: 55%;
    padding: 15px;
    margin-left: 20%;
    color: white;
    background-color: #3982EB;
    border-radius: 5px;
    border-style: none;
}

.cont3{
    width: 160%;
    border: solid white;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    margin: 1%;
}

.cont3 :hover{
    margin-right:  20px;
    background: white;
    color: black;
    cursor: pointer;
    transition: 500ms;
    overflow: hidden;
}
.img-heading3{
    border: solid wheat;
    background-color: rgb(253, 250, 243);
    border-radius: 10px;
    border-style: none;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.img-heading3 h2{
    text-align: center;
    color: #3b67af;
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.img-heading3 p{
    padding-right:30px;
    text-align: center;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}

.img-heading3 button{
    width: 55%;
    padding: 15px;
    margin-left: 20%;
    color: white;
    background-color: #3982EB;
    border-radius: 5px;
    border-style: none;
}

/* end of second article  */

/* start of new section  */

.container-s{
    background-color: white;
    display: flex;
}

.con-text{
    margin: 6%;
    color:#3b67af;
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 3%;
}

.con-img{
    margin-right: 5%;
}